
/* NOTE: To use google fonts instead of bunny fonts, toggle the comments on the following lines: */
/* @import url('https://fonts.googleapis.com/css2?family=Amiri&family=Goldman&family=Mukta&family=Fugaz+One&family=Playball&family=Oswald&display=swap'); */
@import url('https://fonts.bunny.net/css?family=Amiri:400|Goldman:400|Mukta:400|Fugaz+One:400|Playball:400|Oswald:400|Roboto:400&display=swap');


:root {
  --color-neutral-100: theme('colors.gray.100');
  --color-neutral-200: theme('colors.gray.200');
  --color-neutral-300: theme('colors.gray.300');
  --color-neutral-400: theme('colors.gray.400');
  --color-neutral-500: theme('colors.gray.500');
  --color-neutral-600: theme('colors.gray.600');
  --color-neutral-700: theme('colors.gray.700');
  --color-neutral-800: theme('colors.gray.800');
  --color-neutral-900: theme('colors.gray.900');

  --color-secondary: theme('colors.violet.600');
  --color-secondarySoft: theme('colors.violet.400');
  --color-onPrimaryBg: theme('colors.gray.900');
  --color-primaryBorder: theme('colors.gray.900');
  --color-onSecondaryBg: theme('colors.gray.100');
  --color-primarySoft: theme('colors.slate.300');
  --linkDecoration: theme('colors.violet.300');
  --font-logoFont: "Goldman", cursive;

  --sidebar-height: 30px;
}

.dark {
  --color-onPrimaryBg: theme('colors.gray.300');
  --color-primaryBg: theme('colors.gray.900');
}
html {
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

body {
  @apply text-onPrimaryBg bg-primaryBg;
}

header.site-head {
  @apply ml-0 font-logoFont;
}
header.site-head {}

.sidebar {
  @apply border-t border-b pt-2 pb-1 font-logoFont shadow-md dark:shadow-white;
}
.sidebar ul{
  @apply w-full block list-none p-0 m-0 flex justify-center;
}

.sidebar li{
  @apply inline-block ml-5;
}
.sidebar li a {
  @apply w-full inline-block px-2 rounded-xl whitespace-nowrap;
}

.toc {
  @apply text-sm;
}

table {
  @apply rounded border-slate-400 border-collapse;
}

table thead {
  @apply bg-slate-300 border-slate-400 border-b-2 rounded;
}

table tr {
  @apply border-b-slate-100 border-b;
}
table tr:last-child {
  @apply border-b-0;
}
table tr:hover, table tr:nth-child(even):hover {
  @apply bg-indigo-200 border-b;
}
table tr:nth-child(even) {
  @apply bg-slate-200;
}
.footer .buymeacoffee svg {
  /* margin-top: -35px; */
  width: 40%;
  height: 40%;
}


/**********************************************
 *  MENU BUTTON
 */
.sidebar * {
  transition: all 300ms cubic-bezier(.5, 0, .5, 1);
}

@media only screen and (max-width: 700px) {
  .sidebar {
    height: var(--sidebar-height);
    @apply p-2;
  }
  .sidebar .navMenu {
    transform: translateX(-100%);
    display: block;
    position: absolute;
    background: var(--color-primaryBg);
    margin: 0px;
    width: 90%;
    margin-top: -22px;
    /* top: 0px; */
    left: 0px;
    @apply border-2 rounded p-2 text-onPrimaryBg
  }
  .sidebar .navMenu li a{
    @apply text-onPrimaryBg w-fit
  }
  .sidebar .navMenu li{
    display: block;
  }
  .sidebar .menuButton {
    @apply block !important;
    z-index: 3;
  }
}
.sidebar .menuButton {
  width: 50px;
  @apply block p-1 relative hidden cursor-pointer;
}

.sidebar .menuButton .hamburger {
  display: block;
  position: relative;
}

.sidebar .menuButton .hamburger,
.sidebar .menuButton .hamburger::before,
.sidebar .menuButton .hamburger::after {
  width: 2em;
  height: 3px;
  background: var(--color-onPrimaryBg);
  /* transition: transform 350ms ease-in-out, opacity 200ms linear; */
}

.sidebar .menuButton .hamburger::before,
.sidebar .menuButton .hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

.sidebar .menuButton .hamburger::before { bottom: 6px; }
.sidebar .menuButton .hamburger::after { top: 6px;}


/* Navigation open styles */
.sidebar.nav-open .menuButton {
  left: calc(90% - 33px);
  /* transform: translateX(80%); */
}

.sidebar.nav-open .navMenu {
  transform: translateX(0);
}

/* Change this stuff below */

.sidebar.nav-open .hamburger {
  transform: rotate(45deg);
}

.sidebar.nav-open .hamburger::before {
  opacity: 0;
}

.sidebar.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-6px);
}

/*  /MENU BUTTON
**********************************************/
