@import '~@theme/styles/config.styl'
// YOUR STYLES

.bullet
  background-color: $primaryColor !important

.header-top-logo__link img
  height: 90px
  border-radius: 7px;
  background: linear-gradient(145deg, #bbbbbb, #9e9e9e);
  box-shadow:  7px 7px 14px #959595, 
              -7px -7px 14px #c9c9c9;